        svg{
            border:solid 0px red;
            overflow:visible;
            width:2000000px;
            height:2000000px;
        }
        .scene{
            position:fixed;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            min-height:300px;
            overflow:hidden;
            z-index:10000;
        }
        .scene *{
            font:12px arial;
            border:solid 0px silver;
        }
        .scene, .scene .layer, .scene .layergroup{
            cursor:move;
        }
        .scene .layergroup{
            position:absolute;
            overflow:visible;
            
            left:-1000000px;
            top:-1000000px;
            width:2000000px;
            height:2000000px;

            /*left:0px;
            top:0px;
            width:100%;
            height:100%;*/

            border:solid 0px yellow;
        }
        .scene .layer{
            position:absolute;
            overflow:visible;
            left:0px;
            top:0px;
            width:200px;
            height:200px;
            border:solid 0px red;
        }
        .scene .layer path{
            cursor:pointer;
        }
        .scene .layer .linklabel{
            color:lightblue;
            cursor:pointer;
        }
        .bgbanner{
            text-align:center;
            position:fixed;
            top:40%;
            left:0;
            right:0;
        }
        /* #### Mobile Phones Portrait or Landscape #### */
        @media screen and (max-device-width: 640px) {
            .bgbanner{
                top:100px;
            }
        }

        /* #### Tablets Portrait or Landscape #### */
        @media screen and (min-device-width: 768px) {
            .bgbanner{
                top:300px;
            }
        }
        .bgbanner .caption{
            font:64px arial;
            font-weight:bold;
            color:#2f2e2e;
        }
        .bgbanner .subcaption{
            font:18px arial;
            color:#2f2e2e;
        }
        .scene .ideaname{
            position:fixed;
            top:0px;
            left:0px;
            font:14px arial;
            color:black;
            font-weight:normal;
            width:200px;
            padding:12px 4px 4px 12px;
            border-bottom:solid 1px black;
            background-color:#373737;
            text-align:left;
            z-index:10005;
        }
        .group{
            position:absolute;
            border:solid 1px blue;
            padding:8px;
            border-radius: 10px; 
            cursor:pointer;
            background: #6f8ae1;
	        background: -webkit-gradient(linear, left top, left bottom, from(#6f8ae1), to(#aed6f1));
	        background: -moz-linear-gradient(top,  #6f8ae1,  #aed6f1);
	        filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#6f8ae1', endColorstr='#aed6f1');
        }
        .groupeditor{
            position:absolute;
            background:white;
            top:4px;
            right:4px;
            height:36px;
            width:50%;
            border-bottom:solid 1px green;
        }
        /* #### Mobile Phones Portrait or Landscape #### */
        @media screen and (max-device-width: 768px) {
            .groupeditor{
                width:95%;
            }
        }
        .groupeditor .assistarea{
            height:48px;
            position:absolute;
            top:36px;
            right:90px;
            /*width:200px;
            padding-top:6px;
            background-color:gray;*/
            text-align:center;
        }
        .groupeditor .assistarea input[type=button]{
            height:36px;
            width:90px;
        }
        .groupeditor .boxarea{
            position:absolute;
            top:0px;
            left:0px;
            bottom:0px;
            right:100px;
            border:solid 0px red;            
            overflow:hidden;
        }
        .groupeditor .boxarea textarea{
            width:100%;
            height:30px;
            line-height:16px;
            outline:hidden;
            outline-width:0px;
            overflow:hidden;
            margin:4px;
        }
        .groupeditor .cmdarea{
            position:absolute;
            right:0;
            top:0;
            bottom:0;
            width:200px;
            border:solid 0px blue;
        }
        .groupeditor .cmdarea .btn{
            float:right;
            padding-left:12px;
            padding-right:12px;
            text-align:center;
            line-height:36px;
            cursor:pointer;
        }
        .groupeditor .cmdarea .btn.acc{
            background-color:#f7dea2;
        }
        .groupeditor .cmdarea .btn.del{
            background-color:#a4a4a4;
        }
        .concept{
            position:absolute;
            border:solid 1px red;
            padding:8px;
            border-radius: 10px; 
            cursor:pointer;
            background: #f78d1d;
	        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	        filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
        }
        .resizer.dynDiv_resizeDiv_tl,.resizer.dynDiv_resizeDiv_br{
            display:none;
            position:absolute;
            width:10px;
            height:10px;
            background-color:#F47E1F;
            border:solid 1px white;
            border-radius:5px;
        }
        .resizer.dynDiv_resizeDiv_tl{
            left:-5px;
            top:-5px;
        }
        .resizer.dynDiv_resizeDiv_br{
            right:-5px;
            bottom:-5px;
        }
        .concept, .concept *, .linklabel{
            word-break:keep-all;
            word-wrap:normal; 
            white-space:nowrap;
        }
        .concept.selected, .group.selected{
            border:solid 2px white;
        }
        .concept textarea{
            border:solid 0px silver;
            margin:0;
        }
        .concept .cmdarea{
            margin:0;
            padding:0;
            background:white;
            border-right:solid 1px silver;
            border-bottom:solid 1px silver;
            border-left:solid 1px silver;
            border-top:solid 0px silver;
        }
        .concept .cmdarea .baccept,.concept .cmdarea .bcancel{
            cursor:pointer;
            text-align:center;
            line-height:24px;
        }
        .concept .cmdarea .baccept{
            background:lightblue;
            border:solid 0px blue;
            float:left;
            width:50%;
        }
        .concept .cmdarea .bcancel{
            width:50%;
            margin-left:50%;
        }
        .concepteditor{
            position:absolute;
            background:white;
            top:4px;
            right:4px;
            height:36px;
            width:50%;
            border-bottom:solid 1px green;
        }
        /* #### Mobile Phones Portrait or Landscape #### */
        @media screen and (max-device-width: 768px) {
            .concepteditor{
                width:95%;
            }
        }
        .concepteditor .assistarea{
            height:48px;
            position:absolute;
            top:36px;
            right:90px;
            /*width:200px;
            padding-top:6px;
            background-color:gray;*/
            text-align:center;
        }
        .concepteditor .assistarea input[type=button]{
            height:36px;
            width:90px;
        }
        .concepteditor .boxarea{
            position:absolute;
            top:0px;
            left:0px;
            bottom:0px;
            right:100px;
            border:solid 0px red;            
            overflow:hidden;
        }
        .concepteditor .boxarea textarea{
            width:100%;
            height:30px;
            line-height:16px;
            outline:hidden;
            outline-width:0px;
            overflow:hidden;
            margin:4px;
        }
        .concepteditor .cmdarea{
            position:absolute;
            right:0;
            top:0;
            bottom:0;
            width:200px;
            border:solid 0px blue;
        }
        .concepteditor .cmdarea .btn{
            float:right;
            padding-left:12px;
            padding-right:12px;
            text-align:center;
            line-height:36px;
            cursor:pointer;
        }
        .concepteditor .cmdarea .btn.acc{
            background-color:#f7dea2;
        }
        .concepteditor .cmdarea .btn.del{
            background-color:#a4a4a4;
        }
        .dockleft,.dockright{
            position:absolute;
        }
